<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1>Dashboard</h1>
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            Plans
        </div>
    </div><!-- /.row -->
    <div class="row">
        <div class="col-lg-4" ng-repeat="plan in plans">
            <div class="well">
                <a href="/#/plans/{{plan.name}}">{{plan.name}}</a>
            </div>
        </div>
    </div><!-- /.row -->

</div><!-- /#page-wrapper -->