<div id="page-wrapper">

    <div class="row">
        <div class="col-lg-12">
            <h1>Plan: {{plan.name|titleize}}</h1>
        </div>
    </div><!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div>
              <label>Name:</label>
              <a href="#" editable-text="plan.name">{{ plan.name }}</a>
            </div>
            
            <div>-</div>

            <config-tree config="plan.config"></config-tree>
          
        </div>
    </div><!-- /.row -->

    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="btn btn-primary" ng-click="savePlan()">Save</button>
      </div>
    </div> 

</div><!-- /#page-wrapper -->